.cf {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  .feed {
    overflow-y: auto;
    width: 1150px;
    height: 410px;
    background: transparent;
    border: none;
    display: flex;
    flex-wrap: wrap;
    
  }
  .feed::-webkit-scrollbar {
    display: none;
  }
}
