.cf {
  margin: 80px auto;
  .feed {
    overflow-y: auto;
    width: 1150px;
    height: 410px;
    background: transparent;
    border: none;
  }
  .feed::-webkit-scrollbar {
    display: none;
  }
}
