.input {
  margin: 10px 10px;
  outline: none;
  width: 250px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}
.img_input {
  margin: 0px 24% 39% 0px;
  border: none;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

