  .frame {
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    width: 600px;
    height: 450px;
    background-color: black;
    margin: 1% 50px 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    overflow: hidden;
    .inframe {
      margin: 0px 20px;
    }
  }

.img_img {
  width: 100px;
  height: 100px;
}

.submit {
  margin: 0px 0px 125px 175%;
  cursor: pointer;
  border: none;
  background: transparent;
}
