
.item-wrapper
{
    width: 100vw;
    height: 90vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    .item-frame
{
    width: 1000px;
    height: 500px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    color: white;
    .item-flex
    {
        display: flex;
    }
    .name
    {
        width: 350px;
        height: 40px;
        background-color: black;
        color: white;
        border: 1px solid white;
        border-radius: 5px;
        margin:15px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
 
.output-frame{
    margin: 10px 10px 0px 0px;
        .output
    {
        width: 250px;
        height: 40px;
        background-color: black;
        color: white;
        border: 1px solid white;
        border-radius: 5px;
        margin:20px ;
        display: flex;
        justify-content: center;
        align-items: center;
    }}

}}
