.navbar {
  width: fit-content;
  height: fit-content;
  box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 5px 0px;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;

  .button {
    background: none;
    width: 50px;
    height: 40px;
    border: none;
    cursor: pointer;
   
    .image {
      width: 25px;
      height: 30px;
    }
  }
}
.feed {
  width: 600px;
  height: 500px;
  background: transparent;
  border: 1px black solid;
}
ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
