@import "./header/styles.scss";
@import "./navbar/styles.scss";
@import "./feed/styles.scss";
@import "./navbar/admin_bar/styles.scss";
@import "./row/styles.scss";
@import "./item/sitem/styles.scss";
@import "./add_scre/styles.scss";
@import "./input/styles.scss";
@import "./item/styles.scss";
@import "./search/styles";

body {
  width: 100vw;
  height: 100vh;
}
.row {
  display: flex;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center1 {
  display: flex;
  justify-content: flex-start;
}
