.search {
    width: 400px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #000000;
    background: transparent;
    color: black;
    margin: 15px 0px 0px 0px;
  }
  .search_butt {
    height: 34px;
    width: 30px;
    border-radius: 3px;
    border: 1px solid black;
    cursor: pointer;
    margin: 15px 0px 0px 1px;
    background-color: transparent;
  }

  .search_butt:hover {
    opacity: 0.7;
  }


